html,body{
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    
    font-size: 1rem;
    background-color: white;
    
    box-sizing: border;
}
body{
    display: flex;
}


.left,.center,.right{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    
    color: white;
}
.left{
    background-color: red;
}
.center{
    background-color: blue;
}
.right{
    background-color: green;
}



.boxes{
    display: flex;
    border: .5rem solid black;
    
    height: 30rem;
    width: 18rem;
    background-color: white;
    
    
}

.dots{
    background-color: black;
    
    height: 5rem;
    width: 5rem;
}



div[dice=one]{
    justify-content: flex-start;
}
div[top=left]{
    
}

div[dice=two]{
    justify-content: center;
}
div[top=center]{
    
}

div[dice=three]{
    justify-content: flex-end;
}
div[top=right]{
    
}



div[dice=four]{
    
}
div[center=left]{
    align-self: center;
}

div[dice=five]{
    justify-content: center;
}
div[center=center]{
    align-self: center;
}

div[dice=six]{
    justify-content: flex-end;
}
div[center=right]{
    align-self: center;
}



div[dice=seven]{
    
}
div[bottom=left]{
    align-self: flex-end;
}

div[dice=eight]{
    justify-content: center;
}
div[bottom=center]{
    align-self: flex-end;
}

div[dice=nine]{
    justify-content: flex-end;
}
div[bottom=right]{
    align-self: flex-end;
}